<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}小饭桌{% endblock %}</title>
    {#    <link rel="stylesheet" href="{% static 'css/news/news.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/base/font_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/sidebar_base.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1676170_02t5ybor9kdz.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'js/font_base.js' %}"></script>
    <script src="{% static 'videojs/video.min.js' %}"></script>
    <script src="{% static 'videojs/videojs-contrib-hls.min.js' %}"></script>
    <script src="{% static 'videojs/videojs-contrib-quality-levels.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.bdstatic.com/jwplayer/latest/cyberplayer.js"></script>
    {% block script %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
{##导航条#}
<header class="header">
    <nav class="nav">
        <h1 class="logo-box"></h1>
        <ul class="menu">
            <li class="active"><a href="/">创业资讯</a></li>
            <li><a href="#">创业课堂</a></li>
            <li><a href="#">付费资讯</a></li>
            <li><a href="#">搜索</a></li>
        </ul>
    </nav>
    <div class="auth-group"><span class="user-icon icon-user iconfont"></span>
{#        {% if user.is_authenticated %}{# 如果用户没登陆，显示登录注册#}
{#            <a href="javascript:void(0);">{{ user.username }}</a>#}
            {#                <div class="user-box"><span>{{ font_user.username }}</span></div>#}
{#            <div class="user-more-box">#}
{#                <i class="triangle"></i>#}
{#                {% if user.is_staff %}#}
{#                    <a href="{% url 'cms:cms_index' %}">管理系统</a>#}
{#                {% endif %}#}
{#                <a href="{% url 'xfzauth:logout' %}">退出登录</a>#}
{#            </div>#}
{#        {% else %}#}
{#            <a href="{% url 'xfzauth:login' %}">登陆/</a>#}
{#            <a href="{% url 'xfzauth:register' %}">注册</a>#}
{#        {% endif %}#}
    </div>

</header>
<div class="main">
    {% block main %}{% endblock %}
    {#    主体右半部分#}
    {% block  main-right %}
        <div class="sidebar-container">
            <div class="top-group">
                <ul>
                    <li class="left-group">在线课堂</li>
                    <li class="right-group"><a href="#">更多</a></li>
                </ul>
            </div>
            <div class="middle_pic"></div>
            <div class="bottom-group">
                <div class="bottom-group-left">
                    <div class="title">关注小饭桌</div>
                    <div class="contact-group">
                        <div class="left1"><span class="user-icon icon-matuwang-zhihufangxingdianji iconfont"></span>
                        </div>
                        <div class="left2">小饭桌创业课堂</div>
                    </div>
                    <div class="contact-group">
                        <div class="left1"><span class="user-icon1 icon-weixin3 iconfont"></span></div>
                        <div class="left2">小饭桌创业课堂</div>
                    </div>
                    <div class="contact-group">
                        <div class="left1"><span class="user-icon2 icon-weibo iconfont"></span></div>
                        <div class="left2">小饭桌创业课堂</div>
                    </div>
                </div>
                <div class="bottom-group-right">
                    <div class="erweima"></div>
                    <div class="text">
                        <li>扫码关注小饭桌</li>
                        <li>微信公众平台</li>
                        <li>xfz008</li>
                    </div>
                </div>

            </div>

        </div>
    {% endblock %}
</div>
{##预留#}
{% block backup-area %}{% endblock %}
{#footer部分#}
<footer class="footer">
    <div class="footer-1">
        <div class="foot-inner">
            <div class="logo-box"></div>
            <div class="detail-info-group">
                <div class="top-group">
                    <ul class="links">
                        <li><a href="#">关于小饭桌</a></li>
                        <li><a href="#">创业课堂</a></li>
                        <li><a href="#">寻求报道</a></li>
                        <li><a href="#">创业礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span>关于我们：</span>
                        <span class="weixin">xfz008</span>
                        <span class="weibo">小饭桌创业课堂</span>
                    </div>
                </div>
                <div class="bottom-group">
                    <p class="address">地址：北京市朝阳区东三环北路38号院泰康金融大厦</p>
                    <p class="contact">联系方式：bd@xfz.cn（工作日10点-18点）</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2">
        ©2020 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574
    </div>
</footer>
</body>
</html>