{% extends 'auth/base.html' %}
{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block link %}
    <!-- Custom Theme Style -->
    <link href="https://cdn.staticfile.org/gentelella/1.3.0/css/custom.min.css" rel="stylesheet">
{% endblock %}

{% block title %}您好！{% endblock %}

{% block body %}
    <body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>请登录</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="用户名" required=""/>
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="密码" required=""/>
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">点击登录</a>
                            <a class="reset_pass" href="#">忘记密码?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">从未注册过?
                                <a href="#signup" class="to_register"> 注册账户 </a>
                            </p>

                            <div class="clearfix"></div>
                            <br/>

                            <div>

                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and
                                    Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>用户注册</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="用户名" required=""/>
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required=""/>
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="密码" required=""/>
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">注册</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">已有账户了 ?
                                <a href="#login" class="to_register"> 登录 </a>
                            </p>

                            <div class="clearfix"></div>
                            <br/>

                            <div>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and
                                    Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
